<div class="container">
    <div class="healthcolumn">
        <h1> Health & Science</h1>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Topics
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <div class="col-md-2">
                <li><a href="#Minnesota">Health</a></li>
                <li><a href="#Wisconsin">Science</a></li>
                <li><a href="#NorthDakota">StateRegulation</a></li>
                <li><a href="#SouthDakota">Marijuana Lifestyle</a></li>
                <li><a href="#Iowa">Blogs</a></li>
            </div>
        </ul>
    </div>
</div>